@import 'toastr/toastr';

.form-login {
  width: 100%;
  max-width: 430px;
  padding: 5px;
  margin: auto;
}
.sign_in{
  padding-right: 10px;
}
.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 480;
}
.navbar-brand .navbar-default {
  color: #FF5A5F;
  padding-left: 10px;
  font-size: 2em;
  font-weight: 400;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.avatar-small {
  width: 20px;
}
.avatar-medium {
  width: 40px;
}
.avatar-large {
  width: 60px;
}
.avatar-full {
  width: 100%;
}
body {
  padding-top: 4.5rem;
  color: #565a5c;
  background-color: #f8f8f8;
}
.container {
  width: 80%;
}
.btn-primary.btn {
  border: 1px solid #ff5a5f;
  border-radius: 2px;
  font-weight: bold;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 25px 10px 25px;
  max-width: 430px;
}
.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #ff7e82;
  border-bottom-color: #fa0008;
  background-color: #ff7e82;
  outline: none;
}
.btn-primary.btn:active{
  border-color: #e00007;
  background-color: #e00007;
  outline: none;
}
.btn-primary.btn {
  border-radius: 2px;
  padding: 10px 10px;
  margin-top: 10px;
}

.card .card-title {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
.card-text {
  font-size: 15px;
  font-weight: 400;
  padding: 5px 10px;
}
.card-header {
  background-color: #e7ede7;
}
.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
.form-control {
  border-radius: 2px;
}
.sidebar-list {
  padding-left: 0px;
  list-style: none;
}
.sidebar-item {
  padding: 0px;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}
.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}
label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}
select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance:none;
  -webkit-appearance: none;
}
/* this bit doesn't work */
.select:before {
  content: '\25bc';
  font-size: 1.2em;
  float: right;
  color: #82888A;
  top: 40px;
  right: 50px;
  transform: scale(0.84, 0.42);
}
input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance:none;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  font-weight: bold;
  text-align: center;
  width: 1.25em;
  color: #ff5a5f;
}
